.burger {
  display: none;

  position: fixed;
  top: 20px;
  left: 20px;
}

.icon {
  width: 50px;
}

@media (max-width: 767px) {
  .burger {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
