.Timer {
  font-family: var(--font-montserrat);
  font-size: 96px;
  font-weight: 800;
  color: yellow;
  text-shadow: -3px -3px 0 black, 3px -3px 0 black, -3px 3px 0 black,
    3px 3px 0 black, -3px 0px 0 black, 3px 0px 0 black, 0px -3px 0 black,
    0px 3px 0 black;
}

.timerContainer {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0px;
  z-index: 1000;
  top: 150px;
  right: 20px;
}

.hourglassImage {
  max-width: 100%;
  height: auto;
}
