.trackerContainer {
  display: flex;
  align-items: center;
  font-family: var(--font-montserrat);
  font-size: 32px;
  font-weight: 800;
  color: yellow;
  text-shadow: -3px -3px 0 black, 3px -3px 0 black, -3px 3px 0 black,
    3px 3px 0 black, -3px 0px 0 black, 3px 0px 0 black, 0px -3px 0 black,
    0px 3px 0 black;
  gap: 0;
}

.separator {
  margin: 0 5px;
}
