html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

:root {
  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: var(--font-montserrat), sans-serif;
  font-weight: 400;
}

.bold {
  font-weight: 700;
}
code,
pre {
  font-family: var(--font-mono);
}
