.backgroundImage {
  background-image: url("/bghp.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 200vh;
  width: 100%;
  position: absolute;
}

.mainContainer {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navContainer {
  width: 700px;
  height: 80px;
  background: rgba(255, 255, 255, 0.9);
  border: 3px solid black;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

  transform: skewX(-40deg);
  transform-origin: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ImgButtonQuiz {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
}

.ImgButtonQuiz img {
  width: 200px;
  height: 200px;
}
