.backgroundImage {
  background-image: url("/bghp.png");
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 30%;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.burgerButton {
  display: none;
}

.mainContainer {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  position: relative;
  padding: 46px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.navContainer {
  margin: 0 auto;
  width: 1000px;
  max-width: 90%;
  transform: skewX(-40deg);
  height: 117px;
  border: 3px solid rgb(0, 0, 0);
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #ffffff;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.9);
  position: relative;
  overflow: visible;
  box-sizing: border-box;
}

.navContent {
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
}
.linkAbout,
.linkContact,
.linkAccount,
.linkSubscription {
  --angle: -90deg;
  width: 150px;
  height: 70px;
  padding: 0 px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #000;
  border-radius: 8px 15px 5px 15px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  transform: rotate(var(--angle)) skewX(-30deg);
  transform-origin: center;
  margin-right: -50px;
}

.linkLeft,
.linkRight {
  display: flex;
}
.linkRight {
  margin-right: 50px;
}
.About,
.Contact,
.Account,
.Subscription {
  display: inline-block;
  padding: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.linkAbout {
  background-color: #296d38;
}

.linkContact {
  background-color: #ff9d14;
}

.linkAccount {
  background-color: #148eff;
}

.linkSubscription {
  background-color: #ff2e0d;
}

@media (max-width: 767px) {
  .navContainer {
    display: none;
  }
}

.ImgButtonQuiz {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 90%;
  max-width: 900px;
  padding: 20px 0;
  margin-top: auto;
}

.ImgButtonQuiz img {
  width: 25vw;
  max-width: 200px;
  height: auto;
  display: block;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.ImgButtonQuiz img:hover {
  transform: scale(1.05);
}

@media (max-width: 767px) {
  .ImgButtonQuiz {
    width: 95%;
    gap: 15px;
    margin-top: 30px;
    margin-top: auto;
  }

  .ImgButtonQuiz img {
    width: 45vw;
    max-width: 180px;
  }
}
