.backgroundImage {
  background-image: url("/bgquiz.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  inset: 0;
  z-index: -1;
}

.questionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  margin-top: 250px;
  width: 414.5px;
  height: 117px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 15px;
  background-color: #f2f2f2;
  transform: skewX(-20deg);
}

.questionTitle {
  padding: 10px;
  width: 100%;
  text-align: center;
  font-family: var(--font-montserrat), sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  transform: skewX(20deg);
}

.answersContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 25px;
  column-gap: 300px;
  justify-items: center;
  justify-content: center;
  margin: 200px auto 0 auto;
  max-width: 750px;
}

.answerItem {
  display: flex;
  align-items: center;
}

.answerLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 50px;
  margin-right: 15px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 15px;
  background-color: #f2f2f2;
  transform: skewX(-20deg);
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

.answerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 211px;
  height: 50px;
  padding: 0 10px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 15px;
  background-color: #f2f2f2;
  transform: skewX(-20deg);
  font-family: var(--font-montserrat);
  font-size: 18px;
  font-weight: 700;
}

.answerButton:hover:not(:disabled) {
  background-color: #e0e0e0;
}

.answerButton.correct {
  background-color: #61f570;
  color: #000000;
}

.answerButton.wrong {
  background-color: #fd5151;
  color: #000000;
}

.answerButton.disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .questionContainer {
    margin-top: 300px;
    width: 80%;
    height: auto;
    padding: 15px;
    transform: skewX(-20deg);
  }

  .questionTitle {
    font-size: 20px;
    transform: skewX(20deg);
  }

  .answersContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 300px auto 0 auto;
    width: 80%;
    max-width: 400px;
    row-gap: 15px;
  }

  .answerItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
  }

  .answerLabel {
    font-size: 22px;
    min-width: 30px;
    margin-right: 10px;
  }

  .answerButton {
    width: 80%;
    max-width: 250px;
    height: 60px;
    font-size: 18px;
    border-radius: 10px;
  }
}
